{% extends 'index.html' %}
{% block body %}
<div class="container  p-2">
    {% for member in members %}
    <div class="row m-2 border border-secondary bg-dark text-light rounded-3 w-50">
        <div class="col-4">
            <div>
                <img src="/media/{{member.profile.image}}" alt="Profile pic" class=" m-2" style = "width: 100px; height: 100px; border-radius: 50%;" id = "pic">
                
                <div class="text-light fs-4" id = "username">
                    {{member.username}}
                </div>
            </div>
        </div>
        <div class="col-8 text-start align-middle p-5 ">
            <div class="text-secondary fs-3 row m-2" id = "uid">{{member.profile.up_id}}</div>
        </div>
    </div>
    {% endfor %} 
    <!-- <a href="/home/" class="btn text-dark fw-bold mb-3 position-absolute top-0 start-0">-> back</a>  -->
</div>

{% endblock %}
